$mainColor: #02509e;
$secondary: #ffc400;
$darkColor: rgb(22, 29, 49);
$width: 768px;
body {
    perspective: 1px;
    transform-style: preserve-3d;
    display: block;
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scrollbar-width: none;
    @include mobile {
        height: max-content;
    }

    > * {
        width: 100vw;
        height: calc(100vh - 70px);
        scroll-snap-align: start;
        @include mobile {
            min-height: calc(100vh - 70px);
            height: max-content;
        }
    }
    ::-webkit-scrollbar{
        display: none;
    }
}

a {
    text-decoration: none;
}
@mixin mobile {
    @media (max-width: #{$width}) {
        @content;
    }
}

/* Header / Nav */
.topbar {
    width: 100%;
    height: 70px;
    background-color: $darkColor;
    color: white;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    overflow: hidden;

    .wrapper {
        padding: 10px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
            padding: 10px 30px;
        }

        .left {
            display: flex;
            align-items: center;

            .logo {
                font-size: 38px;
                font-weight: 700;
                text-decoration: none;
                color: #ffbb00;
                margin-right: 40px;
                @include mobile {
                    font-size: 35px;
                }
            }

            .itemContainer {
                display: flex;
                align-items: center;
                margin-right: 30px;
                font-size: 26px;
                font-weight: 500;
                @include mobile {
                    display: none;
                }
            }
        }

        .right {
            .links {
                .link {
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        color: $secondary;
                        text-decoration: underline;
                    }
                }
                li {
                    vertical-align: middle;
                    display: inline;
                    height: 100px;
                    margin-right: 50px;
                    @include mobile {
                        display: none;
                    }
                }
                li:hover {
                    color: $secondary;
                    text-decoration: none;
                }
                li:last-child {
                    margin-right: 0;
                }
            }
            .hamburger {
                width: 32px;
                height: 25px;
                display: none;
                cursor: pointer;
                @include mobile {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                span {
                    width: 100%;
                    height: 3px;
                    background-color: $secondary;
                    transition: all 1s ease;
                    transform-origin: left;
                }
            }
        }
    }
    &.active {
        background-color: $darkColor;

        .hamburger {
            overflow: hidden;

            span {
                &:first-child {
                    background-color: $mainColor;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: $mainColor;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
/* Menu */
.menu{
    width: 100vw;
    height: 100vh;
    background-color: $mainColor;
    position: fixed;
    top: 0;
    right: -120vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    &.active{
        right: 0vh;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 30px;
        color: white;

        li{
            margin-bottom: 15px;
            a{
                font-size: inherit;
                color: inherit;
                text-decoration: none;
                
            }
            &:hover{
                color: $secondary;
                text-decoration: underline;
            }
        }
    }
}
/* Landing */
.intro {
    background: rgb(250, 238, 255);
    background: radial-gradient(
        circle,
        rgba(250, 238, 255, 1) 0%,
        rgba(227, 247, 251, 1) 61%,
        rgba(252, 255, 238, 1) 100%
    );
    color: $darkColor;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include mobile {
        flex-direction: column;
    }
    .hero {
        position: absolute;
        z-index: -5;
        height: calc(100vh - 70px);
        width: 100vw;
        object-fit: fill;
    }
    .bounce {
        position: absolute;
        bottom: 10px;
        left: 49.2%;
        width: 30px;
        height: 20px;
        @include mobile {
            display: none;
        }
    }
    h1 {
        font-size: 60px;
        color: $mainColor;
        @include mobile {
            font-size: 40px;
        }
    }
    h3 {
        font-size: 28px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: 400;
        @include mobile {
            font-size: 18px;
            display: none;
        }
        span {
            font-weight: 700;
        }
    }
    h4 {
        font-size: 21px;
        @include mobile {
            text-align: center;
        }
    }
    .left {
        flex: 0.5;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile {
            flex: auto;
        }
        .imgContainer {
            width: 40vw;
            height: 40vw;
            background-color: $secondary;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;
            @include mobile {
                min-width: 45vh;
                min-height: 45vh;
            }
            img {
                height: 90%;
            }
        }
    }
    .right {
        flex: 0.4;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        @include mobile {
            align-items: center;
            flex: 0.5;
            justify-content: space-around;
        }
        .wrap {
            padding-left: 15%;
            padding-top: 30px;
            @include mobile {
                padding: 0 20px;
                padding-left: 0;
            }
            .summary {
                padding: 10px 10px 30px 30px;
                background: rgba(255, 255, 255, 0.8);
                backdrop-filter: blur(6.7px);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                -webkit-backdrop-filter: blur(6.7px);
                width: 320px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border-radius: 20px;
                @include mobile {
                    align-items: center;
                    padding: 10px;
                    width: 320px;
                    min-height: 150px;
                }
                .body {
                    width: 280px;
                    margin-bottom: 10px;
                }
                @include mobile {
                    flex: auto;
                    align-items: center;
                    justify-content: space-evenly;
                    padding-top: 5px;
                    width: 100%;
                    font-size: 14px;
                }
            }
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            padding-left: 15%;
            @include mobile {
                padding-left: 0;
                align-items: center;
            }
            .links {
                margin-top: 40px;
                height: 50px;
                position: relative;
                @include mobile {
                    margin-top: 10px;
                    height: 40px;
                }
                img {
                    height: 90%;
                    margin-right: 20px;
                    @include mobile {
                        margin-right: 10px;
                    }
                }
                span {
                    position: absolute;
                    font-size: 20px;
                    top: 10px;
                    @include mobile {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.cv {
    background: $darkColor;
    color: $mainColor;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    @include mobile {
        height: fit-content;
    }

    .illo {
        width: 50vw;
        opacity: 0.2;
        mix-blend-mode: difference;
        @include mobile {
            width: 80vw;
        }
    }

    .bounce {
        position: absolute;
        bottom: 10px;
        left: 49.2%;
        width: 30px;
        height: 20px;
        @include mobile {
            display: none;
        }
    }

    h1 {
        color: rgb(231, 244, 255);
        @include mobile {
            font-size: 28px;
        }
    }

    .education {
        text-align: center;
        position: relative;

        table {
            border-collapse: collapse;
            font-size: 20px;
            margin: 20px;
            min-width: 700px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            overflow: hidden;
            @include mobile {
                border-radius: 10px;
                width: 300px;
                min-width: 280px;
                font-size: 16px;
                margin-top: 10px;
            }

            tr {
                background: rgba(255, 255, 255, 1);
                th {
                    background-color: $mainColor;
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 25px;
                    @include mobile {
                        font-size: 18px;
                    }
                }
                th,
                td {
                    padding: 20px 20px;
                    @include mobile {
                        padding: 10px 10px;
                    }
                }
            }
            tr:nth-of-type(even) {
                background: rgba(240, 244, 255, 1);
            }
            tr:last-of-type {
                border-bottom: 2px solid $secondary;
            }
        }
    }
}

.projects {
    background: white;
    color: $darkColor;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    @include mobile {
        height: max-content;
        justify-content: space-around;
    }
    .arrow {
        height: 40px;
        position: absolute;
        cursor: pointer;
        @include mobile {
            display: none;
        }

        &.left {
            left: 100px;
            transform: rotateY(180deg);
        }

        &.right {
            right: 100px;
        }
    }
    .scroll {
        position: absolute;
        top: 10px;
        left: 49.2%;
        width: 30px;
        height: 20px;
        transform: rotateY(90deg);
        animation: bounce 2s infinite;
        @include mobile {
            display: none;
        }
    }
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(-0);
        }
        40% {
            transform: translateY(25px);
        }
        60% {
            transform: translateY(15px);
        }
    }
    .title {
        position: relative;
        top: -270px;
        text-align: center;
        @include mobile {
            margin-top: 20px;
            top: unset;
            position: relative;
            font-size: 28px;
        }
    }
    .background {
        position: absolute;
    }
    .slider {
        height: 500px;
        display: flex;
        position: absolute;

        left: 0;
        transition: all 1s ease-out;
        @include mobile {
            height: auto;
            flex-direction: column;
            justify-content: center;
            position: relative;
        }

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 60vw;
                height: 95%;
                background: rgb(250, 238, 255);
                background: linear-gradient(
                    295deg,
                    rgba(253, 250, 255, 0.9) 0%,
                    rgba(227, 251, 249, 0.9) 61%,
                    rgba(252, 255, 238, 0.9) 100%
                );
                backdrop-filter: blur(6.7px);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                -webkit-backdrop-filter: blur(6.7px);
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include mobile {
                    flex-direction: column-reverse;
                    width: 80%;
                    height: 200px;
                    margin: 15px 0;
                    border-radius: 10px;
                }

                .left {
                    flex: 5;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include mobile {
                        flex: 2;
                    }

                    .leftContainer {
                        width: 80%;
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        @include mobile {
                            flex-direction: unset;
                            width: 100%;
                        }

                        .imgContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @include mobile {
                                width: 20px;
                                height: 20px;
                            }

                            img {
                                width: 25px;
                                @include mobile {
                                    width: 15px;
                                    margin-right: 20px;
                                }
                            }
                        }
                        h2 {
                            @include mobile {
                                font-size: 15px;
                            }
                        }
                        a {
                            color: black;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        p {
                            @include mobile {
                                display: none;
                            }
                        }
                        span {
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img {
                        width: 600px;
                        max-width: 85%;
                        max-height: 80%;
                        border-radius: 15px;
                        object-fit: cover;

                        @include mobile {
                            flex: 9;
                            border-radius: 10px;
                            height: 90%;
                        }
                    }
                }
            }
        }
    }
}

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    color: #fff;
    background-color: $darkColor;
}
h4 {
    margin: 1% 0 1% 0;
    font-size: 1.4em;
}
h5 {
    margin: 1% 0 1% 0;
    font-size: 1em;
    color: rgb(86, 86, 109);
}
ul {
    padding: 0;
    list-style: none;
}
#footer {
    height: 150px;
    min-height: 100px;
    overflow: hidden;
}
.footer-social-icons {
    padding: 50px 100px;
    width: 350px;
    display: block;
    margin: 0 auto;
    @include mobile {
        padding: 50px;
    }
    .social-icons {
        margin-top: 10px;
        li {
            vertical-align: middle;
            display: inline;
            height: 100px;
        }
        .social-icon {
            color: #fff;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            color: #fff;
            text-decoration: none;
        }
        .fa-facebook {
            &:hover {
                background-color: #3d5b99;
            }
        }
        .fa-twitter {
            padding: 10px 12px;
            &:hover {
                background-color: #00aced;
            }
        }
        .fa-rss {
            padding: 10px 14px;
            &:hover {
                background-color: #eb8231;
            }
        }
        .fa-github {
            padding: 10px 14px;
            &:hover {
                background-color: #5a32a3;
            }
        }
        .fa-youtube {
            padding: 10px 14px;
            &:hover {
                background-color: #e64a41;
            }
        }
        .fa-linkedin {
            padding: 10px 14px;
            &:hover {
                background-color: #0073a4;
            }
        }
    }
}
