@import "../../global.scss";
.cv {
  background-color: rgb(255, 218, 204);
  color: $mainColor;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  @include mobile{
    height: auto;
  }
  .bounce {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 30px;
    height: 20px;
    @include mobile {
      display: none;
    }
  }
  h4 {
    font-size: 21px;
    @include mobile {
      text-align: center;
    }
  }
  .education {
    text-align: center;
    position: relative;
    
    table {
      border-collapse: collapse;
      font-size: 20px;
      margin-top: 20px;
      min-width: 700px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      @include mobile {
        overflow-x: auto;
        width: 300px;
        min-width: 280px;
        font-size: 16px;
        margin-top: 10px;
      }
      tr {
        background-color: #ffffff;
        th {
          background-color: $mainColor;
          color: #ffffff;
          text-align: left;
          font-weight: 500;
          font-size: 25px;
          @include mobile {
            font-size: 18px;
          }
        }
        th,
        td {
          padding: 20px 20px;
          @include mobile {
            padding: 10px 10px;
          }
        }
      }
      tr:nth-of-type(even) {
        background-color: #f3f3f3;
      }
      tr:last-of-type {
        border-bottom: 2px solid $secondary;
      }
    }
  }
}
