@import "../../global.scss";
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
  color: #fff;
  background-color: $darkColor;
}
h4 {
  margin: 1% 0 1% 0;
  font-size: 1.4em;
}
h5 {
  margin: 1% 0 1% 0;
  font-size: 1em;
  color: rgb(86, 86, 109);
}
ul {
  padding: 0;
  list-style: none;
}
#footer {
  height: 150px;
  min-height: 100px;
  overflow: hidden;
}
.footer-social-icons {
  padding: 50px 100px;
  width: 350px;
  display: block;
  margin: 0 auto;
  @include mobile {
    padding: 50px;
  }
  .social-icons {
    margin-top: 10px;
    li {
      vertical-align: middle;
      display: inline;
      height: 100px;
    }
    .social-icon {
      color: #fff;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      color: #fff;
      text-decoration: none;
    }
    .fa-facebook {
      &:hover {
        background-color: #3d5b99;
      }
    }
    .fa-twitter {
      padding: 10px 12px;
      &:hover {
        background-color: #00aced;
      }
    }
    .fa-rss {
      padding: 10px 14px;
      &:hover {
        background-color: #eb8231;
      }
    }
    .fa-github {
      padding: 10px 14px;
      &:hover {
        background-color: #5a32a3;
      }
    }
    .fa-youtube {
      padding: 10px 14px;
      &:hover {
        background-color: #e64a41;
      }
    }
    .fa-linkedin {
      padding: 10px 14px;
      &:hover {
        background-color: #0073a4;
      }
    }
  }
}
