$mainColor: #02509e;
$secondary: #ffc400;
$darkColor: rgb(22, 29, 49);;

$width: 768px;
body {
  perspective: 1px;
  transform-style: preserve-3d;
}
@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
